.footer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.pagination {
  color: var(--color-stone-300);
  font-size: var(--font-size-min);
  font-weight: 400;
}

.circleList {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.outerCircle {
  width: 1.15rem;
  display: block;
  aspect-ratio: 1;
  padding: 0.275rem;
  border-radius: 50%;
  background-color: transparent;
}

.outerCircle.current {
  background-color: rgba(132, 94, 238, 0.25);
}

.innerCircle {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-stone-300);
}

.outerCircle.active .innerCircle,
.outerCircle.current .innerCircle {
  background-color: var(--color-purple-dark);
}
