.inputForm:not(:nth-last-of-type(1)) {
  margin-bottom: 1.5rem;
}

.inputForm > label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-stone-100);
  font-size: var(--font-size-min);
  font-weight: 600;
}

.inputForm > input {
  width: 100%;
  padding: 1rem;
  font-size: var(--font-size-min);
  font-weight: 600;
  border: 2px solid var(--color-stone-200);
  border-radius: 1rem;
}

.inputForm > input::placeholder {
  color: var(--color-stone-200);
}

.inputForm.error > input {
  border-color: var(--color-red);
}

.inputForm > span {
  display: inline-block;
  margin-top: 6px;
  color: var(--color-red);
  font-size: var(--font-size-min);
}
