#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 182px auto;
}

.main {
  width: 28.5rem;
  padding: 2.5rem;
  border: 1px solid var(--color-stone-300);
  border-radius: 12px;
  background-color: var(--color-stone-700);
}
